body {
    height: 735px;
    background: rgb(0, 0, 0);
    color: whitesmoke;
    overflow-x: hidden;
}



.cf {
    height: 735px;


    .row {
        height: 100%;
        background: black;

        h1 {
            margin-top: 40px;

        }

        .a {
            margin: 0px;
            height: 735px;
            border-right: 1px solid rgb(56, 55, 55);
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            overflow-x: hidden;
            position: fixed;

            h1 {
                font-family: 'hi';
                font-size: x-large;
                margin-left: 14px;
            }

            li {
                margin-block: 30px;


            }

            #p {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background: url("../../assets/images/pf3.jpg");
                background-position: center;
                background-size: cover;
                display: inline-block;
                transform: translate(-7px, 10px);
            }

            .bf {
                margin-top: 90px;
            }
        }

        .b {
            height: 100%;
            transform: translate(300px);
            margin: 0px;

            .cf2 {
                margin: 0px;
                height: 100%;
                margin-top: 10px;

                .r2 {
                    height: 80px;


                    .story {
                        color: whitesmoke;
                        display: inline-flex;
                        justify-content: space-evenly;
                        overflow-x: scroll;

                        .d1 {
                            height: 50px;
                            width: 50px;
                            background: url(../../assets/images/pf2.jpg);
                            border-radius: 50%;
                        }

                    }

                    .story::-webkit-scrollbar {
                        width: 0em;
                    }

                }

                .r3 {


                    .h1 {
                        width: 90%;
                        margin-left: 40px;

                        .dp {
                            height: 30px;
                            width: 30px;
                            margin-top: 10px;
                            background: url(../../assets/images/pf2.jpg);
                            background-size: cover;
                            background-position: center;
                            border-radius: 50%;
                            border: 3px solid black;
                            outline: 2px solid red;
                        }

                        .p1 {
                            font-size: small;
                            transform: translate(40px, -20px);
                        }

                        .pp1 {
                            background: url(../../assets/images/pf1.webp);
                            height: 600px;
                            margin-top: -40px;

                        }

                        .fonti {

                            margin-left: -35px;

                            .pi {
                                font-size: 25px;
                            }
                        }
                    }

                    .f1 {
                        transform: translate(570px, -70px);
                        font-size: 20px;
                    }


                }
            }
        }

        .c {
            transform: translate(300px);
        }
    }
}